<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/styles.css">
    <title>Braille Project</title>
</head>
<body>
    <div class="container">
        <h1>Upload File</h1>
        <form id="upload-file" method="post" enctype="multipart/form-data">
            <fieldset>
                <input class="btn" name="file" type="file">
            </fieldset>
            <br>
            <fieldset>
                <button id="upload-file-btn" class="btn" id="upload-file-btn" type="button">Upload</button>
            </fieldset>
        </form>
        <br><br>
        <p id='result'></p>
    </div>


    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js'></script>
	<script type="text/javascript">

		$("#upload-file-btn").click(function () {
			var $SCRIPT_ROOT = {{ request.script_root| tojson | safe
		}};
		var form_data = new FormData($('#upload-file')[0]);

		$.ajax({
			type: "POST",
			url: $SCRIPT_ROOT + "/predict/",
			data: form_data,
			contentType: false,
			cache: false,
			processData: false,
			success: function (data) {
				$('#result').text('Output: ' + data);
			}
		});
		});
	</script>
</body>
</html>